﻿@page "/Vehicles/Create"
@using BlazorApp3.Shared
@inject HttpClient Http
@inject NavigationManager NavManager



<h1>Create</h1>
<h3>Vehicle</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input for="Name" class="form-control" @bind="@vehicle.Name" />
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary" @onclick="@Createvehicle">Save</button>
            </div>
        </form>
    </div>
</div>

@code {
    Vehicle vehicle = new Vehicle();
    protected async Task Createvehicle()
    {
        test();
        await Http.PostAsJsonAsync("api/Vehicles", vehicle);
        void test()
        {
            NavManager.NavigateTo("/Vehicles/List", true);
        }
    }


}
