﻿@page "/Vehicles/delete/{Id}"
@using BlazorApp3.Shared
@inject HttpClient Http
@inject NavigationManager NavManager


<h2>Delete</h2>
<h3>Are you sure you want to delete Vehicle : @vehicle.Name</h3>
<br />
<div class="col-md-4">
    <table class="table">
        <tr>
            <td>Name</td>
            <td>@vehicle.Name</td>
        </tr>
    </table>
    <div class="form-group">
        <input type="submit" value="Delete" @onclick="@(async () => await DeleteVehicle())" class="btn btn-primary" />
    </div>
</div>
@code {
    [Parameter]
    public string Id { get; set; }
    Vehicle vehicle = new Vehicle();
    protected override async Task OnInitializedAsync()
    {
        vehicle = await Http.GetFromJsonAsync<Vehicle>
    ("/api/Vehicles/" + Convert.ToInt32(Id));
    }
    protected async Task DeleteVehicle()
    {
        test();
        await Http.DeleteAsync("api/Vehicles/" + Convert.ToInt32(Id));
        void test()
        {
            NavManager.NavigateTo("/Vehicles/List", true);
        }
    }

}
