﻿@page "/Vehicles/Details/{Id}"
@using BlazorApp3.Shared
@inject HttpClient Http


<h2>Detais for : @vehicle.Name</h2>
<br />
<div class="col-md-4">
    <table class="table">
        <tr>
            <td>Id</td>
            <td>@vehicle.Id</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>@vehicle.Name</td>
        </tr>
    </table>
</div>

@code {
    [Parameter]
    public string Id { get; set; }
    Vehicle vehicle = new Vehicle();
    protected override async Task OnInitializedAsync()
    {
        vehicle = await Http.GetFromJsonAsync<Vehicle>("/api/Vehicles/" + Convert.ToInt32(Id));
    }
}
