﻿@page "/Vehicles/edit/{Id}"
@using BlazorApp3.Shared
@inject HttpClient Http
@inject NavigationManager NavManager

<h2>Edit Vehicle</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input for="Name" class="form-control" @bind="@vehicle.Name" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" @onclick="@(async () => await UpdateVehicle())" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@code {
    [Parameter]
    public string Id { get; set; }
    public Vehicle vehicle = new Vehicle();
    protected override async Task OnInitializedAsync()
    {
        vehicle = await Http.GetFromJsonAsync<Vehicle>("/api/Vehicles/" + Convert.ToInt32(Id));
    }

    protected async Task UpdateVehicle()
    {
        test();
        await Http.PutAsJsonAsync("api/Vehicles/" + Convert.ToInt32(Id), vehicle);
        void test()
        {
            NavManager.NavigateTo("/Vehicles/List", true);
        }
    }
}
