﻿@page "/Vehicles/List"
@using BlazorApp3.Shared
@inject HttpClient Http

<h1>Vehicle display</h1>

<p>This component demonstrates fetching data from the server.</p>
<p>
    <a href="/Vehicles/Create">Create New</a>
</p>

@if (vehicles == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vehicle in vehicles)
            {
            <tr>
                <td>@vehicle.Id</td>
                <td>@vehicle.Name</td>
                <td>
                    <a href="/Vehicles/Details/@vehicle.Id">Details</a>  |
                    <a href="/Vehicles/Edit/@vehicle.Id">Edit</a>  |
                    <a href="/Vehicles/Delete/@vehicle.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    private Vehicle[] vehicles;

    protected override async Task OnInitializedAsync()
    {
        vehicles = await Http.GetFromJsonAsync<Vehicle[]>("api/Vehicles");
    }

}
